@model Bookstore.Models.Livro

@{
    ViewData["Title"] = "Lista de Livros";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Livro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id_livro" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="isbn" class="control-label"></label>
                <input asp-for="isbn" class="form-control" />
                <span asp-validation-for="isbn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preco" class="control-label"></label>
                <input asp-for="Preco" class="form-control" />
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AutorId_autor" class="control-label"></label>
                <select asp-for="AutorId_autor" class="form-control" asp-items="ViewBag.AutorId_autor"></select>
                <span asp-validation-for="AutorId_autor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditoraId_editora" class="control-label"></label>
                <select asp-for="EditoraId_editora" class="form-control" asp-items="ViewBag.EditoraId_editora"></select>
                <span asp-validation-for="EditoraId_editora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
